body {
	background-color: #fff;
}
.green {
	background-color: #46B525;
}
.red {
	background-color: #C03E35;
}
span.prefix {
	border-right: 1px solid #cccccc;
}
[class*="column"] + [class*="column"]:last-child {
	float: left;
}