<div class="row">
    <h2>Edit Customer Details</h2>
    <div class="row">
    	<a href="#/" class="button right">Save and Return</a>
    </div>

    <form class="small-12 medium-6 large-6">
        <div class="row collapse">
            <div class="small-2 columns">
                <span class="prefix">Name</span>
            </div>
            <div class="small-10 columns">
                <input type="text" ng-model="contact.name">
            </div>
        </div>
        <div class="row collapse">
            <div class="small-2 columns">
                <span class="prefix">Gender</span>
            </div>
            <div class="small-10 columns">
                <input type="text" ng-model="contact.gender">
            </div>
        </div>
        <div class="row collapse">
            <div class="small-2 columns">
                <span class="prefix">Age</span>
            </div>
            <div class="small-10 columns">
                <input type="text" ng-model="contact.age">
            </div>
        </div>
        <div class="row collapse">
            <div class="small-2 columns">
                <span class="prefix">Picture URL</span>
            </div>
            <div class="small-10 columns">
                <input type="text" ng-model="contact.picture">
            </div>
        </div>
        <div class="row collapse">
            <div class="small-2 columns">
                <span class="prefix">Email</span>
            </div>
            <div class="small-10 columns">
                <input type="text" ng-model="contact.email">
            </div>
        </div>
        <div class="row collapse">
            <div class="small-2 columns">
                <span class="prefix">Company</span>
            </div>
            <div class="small-10 columns">
                <input type="text" ng-model="contact.company">
            </div>
        </div>
        <div class="row collapse">
            <div class="small-2 columns">
                <span class="prefix">Phone</span>
            </div>
            <div class="small-10 columns">
                <input type="text" ng-model="contact.phone">
            </div>
        </div>
        <div class="row collapse">
            <div class="small-2 columns">
                <span class="prefix">Address</span>
            </div>
            <div class="small-10 columns">
                <input type="text" ng-model="contact.address">
            </div>
        </div>
        <div class="row collapse">
            <div class="small-2 columns">
                <span class="prefix">City</span>
            </div>
            <div class="small-10 columns">
                <input type="text" ng-model="contact.city">
            </div>
        </div>
        <div class="row collapse">
            <div class="small-2 columns">
                <span class="prefix">Country</span>
            </div>
            <div class="small-10 columns">
                <input type="text" ng-model="contact.country">
            </div>
        </div>
        <div class="row collapse">
            <div class="small-2 columns">
                <span class="prefix">Date Registered</span>
            </div>
            <div class="small-10 columns">
                <input type="text" ng-model="contact.registered | date:'YYYY/MM/dd'">
            </div>
        </div>
        <div class="row collapse">
            <div class="small-2 columns">
                <span class="prefix">Latitude</span>
            </div>
            <div class="small-10 columns">
                <input type="text" ng-model="contact.latitude">
            </div>
        </div>
        <div class="row collapse">
            <div class="small-2 columns">
                <span class="prefix">Longitude</span>
            </div>
            <div class="small-10 columns">
                <input type="text" ng-model="contact.longitude">
            </div>
        </div>
        <div class="row collapse">
            <div class="small-2 columns">
                <span class="prefix">Balance</span>
            </div>
            <div class="small-10 columns">
                <input type="text" ng-model="contact.balance | currency">
            </div>
        </div>
        <div class="row collapse">
            <div class="small-2 columns">
                <span class="prefix">Registered</span>
            </div>
            <div class="small-10 columns">
                <input type="text" ng-model="contact.isActive">
            </div>
        </div>
    </form>
</div>
<div class="row">
	<a href="#/" class="button right">Save and Return</a>
</div>
