<div class="large-12 columns">
<div class="row">
	<h2>Edit Customer Details</h2>
	<a href="#/" class="button">Save and Return</a>
    <a href="#/delete/{{index}}" class="button alert">Delete Contact</a>
</div>
<div class="row">
    <form class="row">
        <div class="small-12 medium-6 large-4 columns">
            <span class="prefix">Name</span>
            <input type="text" ng-model="contact.name">
        </div>
        <div class="small-12 medium-6 large-4 columns">
            <span class="prefix">Gender</span>
            <input type="text" ng-model="contact.gender">
        </div>
        <div class="small-12 medium-6 large-4 columns">
            <span class="prefix">Age</span>
            <input type="text" ng-model="contact.age">
        </div>
        <div class="small-12 medium-6 large-4 columns">
            <span class="prefix">Picture URL</span>
            <input type="text" ng-model="contact.picture">
        </div>
        <div class="small-12 medium-6 large-4 columns">
            <span class="prefix">Email</span>
            <input type="text" ng-model="contact.email">
        </div>
        <div class="small-12 medium-6 large-4 columns">
            <span class="prefix">Company</span>
            <input type="text" ng-model="contact.company">
        </div>
        <div class="small-12 medium-6 large-4 columns">
            <span class="prefix">Phone</span>
            <input type="text" ng-model="contact.phone">
        </div>
        <div class="small-12 medium-6 large-4 columns">
            <span class="prefix">Address</span>
            <input type="text" ng-model="contact.address">
        </div>
        <div class="small-12 medium-6 large-4 columns">
            <span class="prefix">City</span>
            <input type="text" ng-model="contact.city">
        </div>
        <div class="small-12 medium-6 large-4 columns">
            <span class="prefix">Country</span>
            <input type="text" ng-model="contact.country">
        </div>
        <div class="small-12 medium-6 large-4 columns">
            <span class="prefix">Date Registered</span>
            <input type="text" ng-model="contact.registered">
        </div>
        <div class="small-12 medium-6 large-4 columns">
            <span class="prefix">Latitude</span>
            <input type="text" ng-model="contact.latitude">
        </div>
        <div class="small-12 medium-6 large-4 columns">
            <span class="prefix">Longitude</span>
            <input type="text" ng-model="contact.longitude">
        </div>
        <div class="small-12 medium-6 large-4 columns">
            <span class="prefix">Balance</span>
            <input type="text" ng-model="contact.balance">
        </div>
        <div class="small-12 medium-6 large-4 columns">
            <span class="prefix">Registered</span>
            <input type="text" ng-model="contact.isActive">
        </div>
    </form>
</div>
<div class="row">
	<a href="#/" class="button">Save and Return</a>
    <a href="#/delete/{{index}}" class="button alert">Delete Contact</a>
</div>
</div>